<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello this is boogle App  </h1>
    <p>redirect to game by clicking <a targer="_blank" href="<%= client %>">game</a></p>
</body>
</html>